@import "../../app.scss";

.about {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 20px;
    text-align: center;
    color: orange;
    font-size: 3rem;
    margin-bottom: 2rem;

    @include mobile {
      font-size: 1.5rem;
    }
  }

  .sectionContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .imageContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 50%;
      position: relative;
      padding: 1rem;

      img {
        width: 80%;
        height: auto;
        object-fit: cover;
      }
    }

    .textContainer {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      padding: 1rem;

      p {
        font-weight: 200;
        font-size: 1.3rem;
        color: white;
        text-align: left;
        line-height: 1.5;
      }

      hr {
        width: 100%; // Full width for horizontal rule
        border: none;
        border-top: 0.5px solid gray;
      }
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; // Add padding for spacing

    .title {
      display: flex;
      align-items: center;
      gap: 2rem; // Use rem for responsive spacing

      img {
        width: 20rem;
        height: auto;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          width: 10rem;
        }
      }

      h1 {
        font-size: 6rem;

        @include mobile {
          font-size: 3rem;
        }
      }

      button {
        width: 20rem;
        height: 6rem;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 1.5rem; // Use rem for responsive font size

        @include mobile {
          font-size: 1rem; // Adjust font size for mobile
          width: 10rem; // Adjust width for mobile
          height: 3rem; // Adjust height for mobile
        }
      }
    }
  }

  .listContainer {
    flex: 1;
    display: flex;
    flex-wrap: wrap; // Allow wrapping for smaller screens
    max-width: 1366px;
    margin: auto;

    .box {
      flex: 1 1 25%; // Allow it to grow and shrink, with a base width of 25%
      height: auto; // Allow height to adjust based on content
      padding: 2rem; // Add padding for spacing
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h2 {
        color: orange;
      }

      p {
        font-size: 1rem; // Use rem for responsive font size
      }

      button {
        padding: 0.5rem;
        background-color: orange;
        border: none;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          border-radius: 5px;
          color: orange;
          width: 50%;
          padding: 0.5rem;
        }
      }
    }
  }

  @include mobile {
    .sectionContainer {
      flex-direction: column;
    }
  }
}
